<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <img class="iconcha" src="icon/Facebook.svg" alt="" />
              <img class="iconcha" src="icon/Instagram.svg" alt="" />
              <img class="iconcha" src="icon/Linkeding.svg" alt="" />
              <img class="iconcha" src="icon/Twitter.svg" alt="" />
              <img class="iconcha" src="icon/Youtube.svg" alt="" />
              <img class="iconcha2" src="icon/Dribbble.svg" alt="" />
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_2">
            <div class="l-2part">
              <span class="y-text">Age:</span>
              <span class="b-text">24</span>
            </div>
            <div class="l-2part">
              <span class="y-text">Residence:</span>
              <span class="b-text">BD</span>
            </div>
            <div class="l-2part">
              <span class="y-text">Freelance:</span>
              <span class="b-text" style="color: var(--Available, #7eb942)"
                >Avalibale</span
              >
            </div>
            <div class="l-2part">
              <span class="y-text">Address:</span>
              <span class="b-text">Busan/SouthKorea</span>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_3">
            <p class="skill_name">Languages</p>
            <p class="skill_pers">Korean 100%</p>
            <img class="per_img" src="/author/icon/100.svg" alt="" />
            <p class="skill_pers">English 80%</p>
            <img class="per_img" src="/author/icon/80.svg" alt="" />
            <p class="skill_pers">Spain 60%</p>
            <img class="per_img" src="/author/icon/60.svg" alt="" />
          </div>
          <div class="marginer"></div>
          <div class="left_4">
            <p class="skill_name">Skills</p>
            <p class="skill_pers">HTML 90%</p>
            <img class="per_img" src="/author/icon/90.svg" alt="" />
            <p class="skill_pers">CSS 85%</p>
            <img class="per_img" src="/author/icon/85.svg" alt="" />
            <p class="skill_pers">Js 80%</p>
            <img class="per_img" src="/author/icon/80.svg" alt="" />
            <p class="skill_pers">PHP 75%</p>
            <img class="per_img" src="/author/icon/75.svg" alt="" />
            <p class="skill_pers">WordPress 85%</p>
            <img class="per_img" src="/author/icon/85.svg" alt="" />
          </div>
          <div class="marginer"></div>
          <div class="left_5">
            <p class="skill_name">Extra Skills</p>
            <div class="5p-icon-text">
              <img
                class="p5-icon"
                src="/author/icon/kvadratchalar.svg"
                alt=""
              />
              <span class="p5-text">Bootstrap, Materialize</span>
            </div>
            <div class="5p-icon-text">
              <img
                class="p5-icon"
                src="/author/icon/kvadratchalar.svg"
                alt=""
              />
              <span class="p5-text">Stylus, Sass, Less</span>
            </div>
            <div class="5p-icon-text">
              <img
                class="p5-icon"
                src="/author/icon/kvadratchalar.svg"
                alt=""
              />
              <span class="p5-text">Gulp, Webpack, Grunt</span>
            </div>
            <div class="5p-icon-text">
              <img
                class="p5-icon"
                src="/author/icon/kvadratchalar.svg"
                alt=""
              />
              <span class="p5-text">GIT Knowledge</span>
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="midd_top">
            <div class="special">Doctor neurologists in OHSU Hospital</div>
            <div class="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
              volutpat feugiat placerat lobortis. Natoque rutrum semper sed
              suspendisse nunc lectus.</div>
              <button class="yell_b">
                HIRE ME <img src="/author/icon/right_arrow.svg" alt="" />
              </button> 
              <img class="main_img" src="/author/images/Your Image 1.png" alt="">
              <div class="iconchalar"></div>
              <img class="beauty" src="/author/icon/1.svg" alt="">
              <img class="beauty1" src="/author/icon/2.svg" alt="">
              <img class="beauty2" src="/author/icon/3.svg" alt="">
              <img class="beauty3" src="/author/icon/4.svg" alt="">
              <img class="beauty4" src="/author/icon/5.svg" alt="">
              <img class="beauty5" src="/author/icon/6.svg" alt="">
              <img class="beauty6" src="/author/icon/7.svg" alt="">
            </div>                   
          <div class="midd_midd">
            <div class="my_text">My services</div>
            <div class="about_text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
          </div>
          <div class="midd_bot">
            <div class="info_box">
              <div class="box_img"><img src="/author/icon/coding.svg" alt=""></div>
              <div class="box_info">Web development</div>
              <div class="box_desc">Blog, E-commerce</div>
            </div>
            <div class="info_box">
              <div class="box_img"><img src="/author/icon/illustration.svg" alt=""></div>
              <div class="box_info">UI/UX design</div>
              <div class="box_desc">Mobile app, Website design</div>
            </div>
            <div class="info_box">
              <div class="box_img"><img src="/author/icon/Microphone.svg" alt=""></div>
              <div class="box_info">Sound Design</div>
              <div class="box_desc">Voice Over, Beat Making</div>
            </div>
            <div class="info_box">
              <div class="box_img"><img src="/author/icon/game-development.svg" alt=""></div>
              <div class="box_info">Game Design</div>
              <div class="box_desc">Character Design, Props & Objects</div>
            </div>
            <div class="info_box">
              <div class="box_img"><img src="/author/icon/Photographer.svg" alt=""></div>
              <div class="box_info">Photography</div>
              <div class="box_desc">Portrait, Product photography</div>
            </div>
            <div class="info_box">
              <div class="box_info">Advertising</div>
              <div class="box_desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
              <div class="box_gold_text">ORDER NOW <img src="/author/icon/y_arrow.svg" alt=""></div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <div class="night"><img src="/author/icon/Contrast.svg" alt=""></div>
          <div class="r-icons">
            <img class="home" src="/author/icon/Home.svg" alt="">
            <img class="img-i" src="/author/icon/Service.svg" alt="">
            <img class="img-i" src="/author/icon/Cv.svg" alt="">
            <img class="img-i" src="/author/icon/Portfolio.svg" alt="">
            <img class="img-i" src="/author/icon/Blog.svg" alt="">
            <img class="img-i" src="/author/icon/Contact.svg" alt="">
          </div>
        </div>
        
        </div>        
      </div>
    </div>
  </body>
</html>
